<!-- To do list-->
<div class="row">
    <div class="col">
        <div class="col-md">
            <a href="{% url 'home' %}" class="custom-card">
                <div class="card text-center text-white  mb-3">
                    <div class="card-header">
                        <br>
                        <h5 class="card-title">
                            <i class="bi-list-check" style="font-size: 1.75rem; color: rgb(255, 255, 255);"></i>
                            To-Do List
                        </h5>                        
                        <br>
                    </div>
                </div>
            </a>
        </div>
    </div>

	<!-- calculator-->
    <div class="col">
        <div class="col-md">
            <a href="{% url 'calculator' %}" class="custom-card">
                <div class="card text-center text-white  mb-3">
                    <div class="card-header">
                        <br>
                        <h5 class="card-title">
                            <i class="bi-calculator-fill" style="font-size: 1.75rem; color: rgb(255, 255, 255);"></i>
                            Calculator
                        </h5>
                        <br>
                    </div>
                </div>
            </a>
        </div>
    </div>

	<!-- Timer -->
    <div class="col">
        <div class="col-md">
            <a href="{% url 'home' %}" class="custom-card">
                <div class="card text-center text-white  mb-3">
                    <div class="card-header">
                        <br>
                        <h5 class="card-title">
                            <i class="bi-alarm" style="font-size: 1.75rem; color: rgb(255, 255, 255);"></i>
                            Timer
                        </h5>
                        <br>
                    </div>
                </div>
            </a>
        </div>
    </div>

</div>

<!-- Dictionary -->
<div class="row">
    <div class="col">
        <div class="col-md">
            <a href="{% url 'home' %}" class="custom-card">
                <div class="card text-center text-white  mb-3">
                    <div class="card-header">
                        <br>
                        <h5 class="card-title">
                            <i class="bi-book-half" style="font-size: 1.75rem; color: rgb(255, 255, 255);"></i>
                            Dictionary
                        </h5>
                        <br>
                    </div>
                </div>
            </a>
        </div>
    </div>

	<!-- Youtube-->
    <div class="col">
        <div class="col-md">
            <a href="{% url 'home' %}" class="custom-card">
                <div class="card text-center text-white  mb-3">
                    <div class="card-header">
                        <br>
                        <h5 class="card-title">
                            <i class="bi-youtube" style="font-size: 1.75rem; color: rgb(255, 255, 255);"></i>
                            Youtube Search
                        </h5>
                        <br>
                    </div>
                </div>
            </a>
        </div>
    </div>

	<!-- Job search -->
    <div class="col">
        <div class="col-md">
            <a href="{% url 'home' %}" class="custom-card">
                <div class="card text-center text-white  mb-3">
                    <div class="card-header">
                        <br>
                        <h5 class="card-title">
                            <i class="bi-search" style="font-size: 1.75rem; color: rgb(255, 255, 255);"></i>
                            Job Search
                        </h5>
                        <br>
                    </div>
                </div>
            </a>
        </div>
    </div>

</div>