{% load static %}

<link rel="stylesheet" href="{% static 'css/navbar.css' %}">



<nav id="navbar">
    <div class="profile-pic">
        <img src="{% static 'images/JohanAwan.jpg' %}" alt="user" />
        <br>
        <br>
        <h6>Welcome Johan!</h6>
    </div>
    <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Settings</a></li>
    </ul>
</nav>

<header>
    <button id="toggle" class="toggle">
        <i class="fa fa-bars fa-2x"></i>
    </button>
</header>

<script src="{% static 'js/navbar.js' %}"></script>