body {
  font-family: "Open Sans", sans-serif;
  background-color: #e7dfdf;
}
#container {
  width: 1000px;
  height: 550px;
  margin: 20px auto;
}

.back {
  position: absolute;
  left: 30px;
}
.logo {
  width: 220px;
}
.logo-container {
  text-align: center;
}

.header {
  text-align: center;
}

.card {
  height: 205px;
}

.job-cards {
  background-color: #5194e2;
}

.title {
  font-size: 14px;
}

.data {
  font-size: 12px;
  text-align: none;
}

a {
  text-decoration: none;
  color: #fff;
}
